@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* shared styles */
.main{
    margin: 10px 130px 10px 130px;
}

.primary-font{
    font-size: 1rem;
font-weight: 600;
color: rgb(58, 58, 58);
}
.btn-primary{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 41px;
background: rgb(224, 44, 109);
}

/* header styles */
header{
    margin: 80px 125px 125px 50px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    
}
.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;

}
.nav-link{
    text-decoration: none;
    color:rgb(58, 58, 58) ;

}
/* banner styles */
.banner-section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.banner-img{
    /* height: 400px; */
    width: 100%;
    padding: 30px;
    /* padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-right: 10px; */
   
}
.banner-img-section{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;

}
.banner-title{
    color: rgb(58, 58, 58);
font-family:Poppins;
font-size: 3.1rem;
font-weight: 700;
margin-bottom: 16px;
}
/* website section */
.website-img-section{
    margin-top: 100px;
    display:flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
    
   

}

/* card sextion */
.card{
    width: 1400px;
    height: 1600px;
    margin: 0 auto;

   

}
/* .card-them{
    justify-content: center;

} */
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px ;
    
  
}
.card-content{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 10px;
  
}
.card-img-content{
    border-radius: 5px;
}
.card-img{
    width: 100%;
}
.card-title{
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1.9rem;
font-weight: 600;
line-height: 70px;

}
.card-details{
    color: rgb(120, 120, 133);
    font-size: 0.92rem;
    font-weight: 700;
  margin-top: 1px;
  
}
.btn{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
font-size: 1rem;
font-weight: 700;
}



 @media screen and (max-width: 576px) {
    .nav-container, 
    .banner-section, .website-img-section {
        flex-direction: column;
    }
    .main{
        margin: 0 auto;

    }
    .website-img-section{
        min-width: 20px;

        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
        border-radius: 5px;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
padding: 2px;
gap: 15px;

    
        
    
    }
    /* .card-img{
        width: 100%;
        height: 50%;
    } */
   .card-img-content{
width: 300px;
height: 256px;
left: 29px;
right: 0;
top: 797px;


   }
    
} 


